<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->

<% unless mobile_device? %>
  <video preload="auto" loop="" autoplay="" id="background-video">
    <source src="https://dx51grft6g5j9.cloudfront.net/katie2.mp4" type="video/mp4">
    <source src="https://dx51grft6g5j9.cloudfront.net/katie.webm" type="video/webm">
  </video>

  <div class="video-mute-wrapper">
    <span id="video-mute" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
  </div>

  <script type="text/javascript">
    var video = document.getElementById("background-video");
    var pauseButton = document.getElementById("video-mute");

    pauseButton.addEventListener("click", function() {
      if (video.muted) {
        video.muted = false;
        pauseButton.className = "glyphicon glyphicon-volume-up";
      } else {
        video.muted = true;
        pauseButton.className = "glyphicon glyphicon-volume-off";
      }
    })
  </script>
<% end %>

<% if current_user %>
  <div class="something">
    <h1>Waiting for something cool with Tan!</h1>
  </div>
<% end %>
