<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->

<% if mobile_device? %>
  <div id="play-button">
    <a href="//fast.wistia.net/embed/iframe/y3i7d3qh7l?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]">
      <div class="rectangle"></div>
      <div class="triangle"></div>
    </a>
  </div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
<% else %>
  <video preload="auto" loop="" autoplay="" id="background-video">
    <source src="https://dx51grft6g5j9.cloudfront.net/katie4.mp4" type="video/mp4">
    <source src="https://dx51grft6g5j9.cloudfront.net/katie.webm" type="video/webm">
  </video>

  <div class="video-mute-wrapper">
    <span id="video-mute" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
  </div>

  <script type="text/javascript">
    var video = document.getElementById("background-video");
    var pauseButton = document.getElementById("video-mute");

    pauseButton.addEventListener("click", function() {
      if (video.muted) {
        video.muted = false;
        pauseButton.className = "glyphicon glyphicon-volume-up";
      } else {
        video.muted = true;
        pauseButton.className = "glyphicon glyphicon-volume-off";
      }
    })
  </script>
<% end %>

<% if current_user %>
  <div class="something">
    <h1>Waiting for something cool with Tan!</h1>
  </div>
<% end %>
