@import "twitter/bootstrap/mixins.less";

.message {
  text-align: center;
}

.alert-custom {
  color: white;
  display: inline-block;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://dx51grft6g5j9.cloudfront.net/ajax-loader.gif) center no-repeat white;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 60px;
  p {
    margin: 20px 0;
    text-align: center;
    color: white;
    a {
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.container {
  min-height: 850px;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#video-mute {
  color: white;
  cursor: pointer;
}

.video-mute-wrapper {
  padding-left: 45px;
  position: fixed;
}

.something {
  text-align: center;
  color: white;
  padding-top: 80px;
}

#account-area {
  padding-top: 15px;
  background: rgba(0,0,0,0);
  float: right;
  a {
    color: white;
    background: rgba(0,0,0,0);
    border: 1px solid white;
  }
  a:hover {
    background: rgba(0,0,0,0.3);
  }
}

.container.header {
  padding-top: 30px;
  min-height: initial;
  height: 95px;
}

body {
  background: url(https://dx51grft6g5j9.cloudfront.net/katie.jpg) no-repeat center center;
  background-size: cover;
}

#sessions-new {
  background: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  margin: 120px auto 0;
  padding: 15px;
  width: 350px;
  h1 {
    color: white;
    font-size: 23px;
    margin-bottom: 5px;
    margin-top: 1px;
    text-align: center;
  }
  .btn.btn-primary {
    width: 100%;
  }
  .links {
    margin-top: 15px;
    a {
      color: white;
    }
  }
  .checkbox label {
    color: white;
  }
  form .form-group {
    input {
      color: white;
      background: rgba(0,0,0,0);
    }
    input::-webkit-input-placeholder { color: white; } /* WebKit browsers */
    input:-moz-placeholder { color: white; } /* Mozilla Firefox 4 to 18 */
    input::-moz-placeholder { color: white; } /* Firefox 19+ */
    input:-ms-input-placeholder { color: white; } /* Internet Explorer 10+ */
  }
  form .actions {
    input {
      background: rgba(0,0,0,0);
      border: 1px solid white;
    }
    input:hover {
      background: rgba(0,0,0,0.3)
    }
  }
}

@media screen and (max-device-width: 800px) {
  .container.header {
    padding-top: 15px;
    min-height: initial;
    height: 95px;
  }

  body {
    background: url(https://dx51grft6g5j9.cloudfront.net/katie-mobile.jpg) no-repeat center center;
    background-size: cover;
  }

  #background-video {
    display: none;
  }

  #play-button {
    margin: 0 auto;
    margin-top: 150px;
    display: block;
    height: 60px;
    width: 100px;
    overflow: hidden;
  }

  #play-button .rectangle {
    background-color: gray;
    width: 100px;
    height: 60px;
    opacity: 0.5;
    margin: 0 auto;
  }

  #play-button .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 22px;
    border-color: transparent transparent transparent white;
    margin: 0 auto;
    position: relative;
    bottom: 45px;
  }
}
