<% if flash[:alert] %>
  <div class="message">
    <div class="alert-custom">
      <%= flash[:alert] %>
    </div>
  </div>
<% elsif flash[:notice] %>
  <div class="message">
    <div class="alert-custom">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
